:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  --linear-gradient: hsl(136, 65%, 51%), hsl(192, 70%, 51%);

  /* natural */

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
html {
  font-size: 20px;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
}

#navigation-bar {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}
.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  height: 50px;
}
.navigation-menu > ul {
  display: none;
}

.navigation-menu > .request-btn {
  display: none;
}
.request-btn {
  border: none;
  border-radius: 30px;
  padding: 10px 18px;
  color: var(--Light-Grayish-Blue);
  font-size: 15px;
  font-weight: 400;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
.request-btn:hover {
  cursor: pointer;
}
.ul-header > li:hover {
  cursor: pointer;
  padding-bottom: 20px;
  border-bottom: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}

#about-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--Very-Light-Gray);
}
.about-image {
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-image {
  margin-top: -23%;
  width: 100%;
}
.about-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem 1rem;
}
.about-heading {
  font-size: 2rem;
  line-height: 2.2rem;
  margin-bottom: 1rem;
}
.about-description {
  font-size: 0.8rem;
  line-height: 1rem;
  color: var(--Grayish-Blue);
  margin-bottom: 1.5rem;
}
.about-req-btn {
  margin-bottom: 3rem;
}
#feature-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--Light-Grayish-Blue);
  padding: 2rem 1rem;
}
.feature-head {
  margin: 1rem 0rem;
}
.feature-heading {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  line-height: 2rem;
}
.feature-description {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--Grayish-Blue);
}
.feature {
  margin: 1.5rem 0rem;
}
.feature-card-heading {
  font-size: 1.2rem;
  margin: 1rem 0px;
}
.feature-card-description {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--Grayish-Blue);
}
#artical-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0rem;
  background-color: var(--Very-Light-Gray);
}
.artical-main-heading {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  line-height: 2rem;
}
.artical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artical {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
  width: 85%;
  margin: 1rem;
}

.artical-image {
  width: 100%;
  height: 10rem;
}
.artical-img-caption {
  font-size: 0.6rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.artical-card-heading {
  font-size: 1.2rem;
  padding: 0.8rem;
  text-decoration: none;
  color: black;
}
.artical-card-description {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--Grayish-Blue);
  padding: 1rem;
}
.artical-card-heading:hover {
  color: var(--Lime-Green);
}
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Blue);
  text-align: center;
  padding: 1.5rem 0rem;
  color: var(--Very-Light-Gray);
}
.foot-content {
  margin: 10px 0px;
}
.navigation-links{
  display: flex;
  flex-direction: column;
}
.footer-links {
  margin: 10px 0px;
}
.footer-links:hover {
  cursor: pointer;
  color: var(--Lime-Green);
}
.social-media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.media-icon {
  margin: 0rem .4rem;
}

.media-icon:hover {
  cursor: pointer;
  filter: invert(61%) sepia(95%) saturate(358%) hue-rotate(83deg)
    brightness(91%) contrast(94%);
}
.copyright{
  font-size: 0.6rem;
  
}
/* for desktop view */
@media (min-width: 500px) {
  #navigation-bar {
    z-index: 2;
  }
  .navigation-menu {
    justify-content: space-between;
    padding-left: 100px;
  }
  .menu-icon {
    display: none;
  }
  .navigation-menu > ul {
    display: inline;
  }
  .navigation-menu > ul > li {
    display: inline;
    margin: 0 10px;
    text-decoration: none;
  }
  .header-link {
    display: inline;
    margin: 0 10px;
  }
  .header-link > a {
    text-decoration: none;
    color: var(--Grayish-Blue);
  }
  .navigation-menu > .request-btn {
    display: inline;
  }
  #about-section {
    display: flex;
    padding-left: 100px;
    flex-direction: row;
    justify-content: center;
    overflow-x: clip;
    margin-top: -1rem;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    width: 40%;
  }
  .about-image {
    background-image: url("..//images/bg-intro-desktop.svg");
    background-position: -10% 0%;
    width: 60%;
    order: 1;
  }
  .hero-image {
    margin-left: 17%;
    margin-top: -8%;
    height: 125%;
  }
  .about-heading {
    width: 80%;
    font-size: 2.3rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
  .about-description {
    font-size: 0.8rem;
    width: 80%;
    margin-bottom: 1rem;
    padding-top: 0;
  }
  #feature-section {
    margin-top: 0;
    padding-left: 5rem;
    justify-content: flex-start;
    text-align: left;
  }
  .feature-head {
    width: 45%;
  }
  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .feature {
    width: 20%;
    margin-right: 1.5rem;
  }
  .feature-card-heading {
    margin: 1.5rem 0rem;
  }
  #artical-section {
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .artical-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .artical {
    flex-direction: column;
    margin-right: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0;
  }

  #footer {
    flex-wrap: wrap;
    height: 5rem;

  }
  .footer-links{
    margin: .3rem;
    align-content: space-between;
  }
  .navigation-links{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    text-align: left;
  }
}
